
.cat-app {
    font-family: "Avenir", sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    max-width: 800px;

    .loading, .error {
        text-align: center;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
        padding: 1em;
    }

    .error {
        color: #BB3333;
        font-size: 1.2em;
        font-weight: bold;

        button {
            color: #171E22;
        }
    }

    button {
        background: none;
        border: 0;
        color: inherit;
        cursor: pointer;
        font: inherit;
        line-height: normal;
        overflow: visible;
        padding: 0;
        user-select: none;
        border: 2px solid #171E22;
        padding: 0.45em 0.9em 0.35em 0.95em;
        border-radius: 1.4em;
    }
}
